*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}
.container {
    padding: 50px;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}
header h1 {
    margin: 0;
    text-decoration: underline;
}
nav {
    margin-top: 20px;
    background-color: #c9e8bd;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
nav ul li {
    display: block;
}
.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
main {
    margin-bottom: 20px;
}
section {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.code-block {
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    background: #c9e8bd;
}
footer img{
    width: 50px;
    height: 50px;
}
footer :last-child {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
h4{
    text-decoration: underline;
    margin-bottom: 10px;
}